<div id="social-buttons">
  <div class="addthis_toolbox addthis_default_style ">
    <a class="addthis_button_twitter"></a>
    <a class="addthis_button_facebook"></a>
    <a class="addthis_button_google_plusone_share" style="cursor:pointer"></a>
    <a class="addthis_button_stumbleupon"></a>
    <a class="addthis_button_email"></a>
  </div>
</div>