<div id="logo">
  <%= image_tag("logo.png") %>
</div>

<section>
  <div class="map">
    <div id="world-map">
    </div>
  </div>

  <div class="video-container">
    <div class="selected-item">
      <iframe id='ytplayer' type='text/html' 
              width='550' height='335' 
              src='' frameborder='0'>
      </iframe>
    </div>
  </div>
</section>

<aside>
  <div class="search-info">
    <div>
      <%= render "video_sort_options" %>
    </div>
    <div class="share">
      <form method="POST" action="#">
        <input id="share-button" type="submit" value="Share">
      </form>
    </div>

    <div>
      <%= render 'social_buttons' %>
    </div>
  </div>

  <div class="video-carousel">
    <div class="top-items">
      <ul class="video-thumbnails"> 
      </ul>
      <ul>
        <li class="fetch-videos"><%= link_to "more videos" , "#" %></li>
      </ul>
    </div>
  </div>
</aside>

<footer>
  <p>Made by Alyssa, Eno, Mary, and Ryan.</p>
</footer>
