<div class="map">
  <div class="header">
    <div id="world-map">
    </div>
    <h1 id="logo">MediaMap</h1>
  </div>
</div>
<div class="container">
  <nav>
    <ul>
      <li>Youtube</li>
      <li>Twitter</li>
      <li>Collage</li>
    </ul>
  </nav>
  <div class="top-items">
    <ul>
    </ul>
  </div>
  <div class="display">
    <div class="selected-item">
      <iframe id='ytplayer' type='text/html' 
              width='450' height='275' 
              src='' frameborder='0'>
      </iframe>
    </div>
  </div>
</div>
