<div class="logo rotate">
  <h1>MediaMap</h1>
</div>

<div class="map">
  <div id="world-map">
  </div>
</div>

<div class="focus">
  <div class="video-container">
    <div class="selected-item">
      <iframe id='ytplayer' type='text/html' 
              width='550' height='335' 
              src='' frameborder='0'>
      </iframe>
    </div>
  </div>
</div>

<div class="search-info">
  <span>
    <%= render "video_sort_options" %>
  </span>
  <div class="share">
    <form method="POST" action="#">
      <input id="share-button" type="submit" value="Share">
    </form>
  </div>
</div>

<div class="video-carousel">
  <div class="top-items">
    <ul>
    </ul>
  </div>
</div>