<div class="logo rotate">
  <h1>mediaMap</h1>
</div>

<div class="map">
  <div id="world-map">
  </div>
</div>

<div class="focus">
  <div class="video-container">
    <div class="selected-item">
      <iframe id='ytplayer' type='text/html' 
              width='550' height='335' 
              src='' frameborder='0'>
      </iframe>
    </div>
  </div>
</div>

<div class="search-info">
  <div>
    <%= render "video_sort_options" %>
  </div>
  <div class="share">
    <form method="POST" action="#">
      <input id="share-button" type="submit" value="Share">
    </form>
  </div>

  <%= render "social_buttons" %>
</div>

<div class="video-carousel">
  <div class="top-items">
    <ul class="video-thumbnails"> 
    </ul>
    <ul>
      <li class="fetch-videos"><%= link_to "more videos" , "#" %></li>
    </ul>
  </div>
</div>

<footer>
  <p>Made by Alyssa, Eno, Mary, and Ryan.</p>
</footer>
