<div id="world-map" style="width: 600px; height: 400px"></div>
<form id="video-request">
  <input type="text" data-name="country-code" placeholder="country code" />
  <input type="submit" />
</form>

<div id="video">
</div>
