<div class="map">
  <div id="world-map">
  </div>
</div>
<!-- <nav>
  <span id="logo">mediaMap</span>
</nav> -->
<div class="logo">
  hello
</div>
<div class="video">
  <div class="selected-item">
    <iframe id='ytplayer' type='text/html' 
            width='550' height='335' 
            src='' frameborder='0'>
    </iframe>
  </div>
</div>
<div class="search-info">
  <span>
    <%= render "video_sort_options" %>
  </span>
</div>
<div class="video-carousel">
  <div class="top-items">
    <ul>
    </ul>
  </div>
</div>