<div class="map">
  <div class="header">
    <div id="world-map">
    </div>
    <h1 id="logo">MediaMap</h1>
  </div>
</div>
<div class="container">
  <% unless @country_code.nil? %>
    <div data-country-code='<%= @country_code %>'>
    </div>
  <% end %>
  <nav>
    <ul>
      <li>Youtube</li>
      <li>Twitter</li>
      <li>Collage</li>
    </ul>
  </nav>
  <div class="top-items">
    <ul>
      <li>Blah</li>
      <li>Argsh</li>
      <li>Blabbyitd lbal</li>
      <li>lha</li>
    </ul>
  </div>
  <div class="display">
    <div class="selected-item">
    </div>
  </div>
</div>
