.top-items {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  height: 234px;
  width: 30px;
  float: right;
  .hidden {
    display: none;
  }
  .arrow {
    position: absolute;
    right: 5px;
    height: 233px;
    width: 35px;
    color: #ccc;
    text-decoration: none;
    span {
      line-height: 233px;
      font-size: 60px;
      padding-right: 30px;
    }
  }
  .arrow:hover {
    color: #000;
  }
  ul {
    display: none;
    margin: 0;
    padding: 5px 0 0 0;
    list-style: none; 
  }
  .video-thumbnails {
    li {
      height: 80px;
      width: 107px;
      margin: 5px;
      a {
        color: black;
        text-decoration: none;
        span {
          display: none;
          padding: 5px 0 5px 5px;
        }
        span.thumbnail-title {
          font-size: 12px;
        }
        span.view-count {
          font-size: 10px;
        }
      }
    }
    li:hover {
      background-color: #000;
      a {
        color: #ccc;
        img {
          display: none;
        }
        span {
          display: block;
        }
        span.thumbnail-title {
          height: 35px;
          color: #fff;
          overflow: hidden;
        }
      }
    }
  }
}
.fetch-videos {
  width: 107px;
  font-weight: 700;
  height: 20px;
  a {
    padding-left: 35px;
    color: #ccc;
    line-height: 15px;
    text-decoration: none;
  }
}
.fetch-videos:hover {
  background-color: none;
  a {
    color: #000;
  }
}
.list-title {
  padding-left: 10px;
  font-size: 18px;
  font-weight: 700;
  height: 20px;
}
