.top-items {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  height: 234px;
  width: 15px;
  float: right;
  .hidden {
    display: none;
  }
  .arrow {
    position: absolute;
    right: 5px;
    height: 233px;
    width: 20px;
    color: #ccc;
    text-decoration: none;
    span {
      line-height: 233px;
      font-size: 60px;
      padding-right: 30px;
      //width: 10px;
    }
  }
  .arrow:hover {
    color: #000;
  }
  ul {
    display: none;
    margin: 0;
    padding: 5px 0 0 0;
    list-style: none;
    li {
      clear: both;
      white-space: normal;
      vertical-align: top;
      height: 80px;
      width: 107px;
      margin: 5px;
      list-style: none;
      display: inline-block;
      a {
        color: black;
        text-decoration: none;
        img {
          float: left;
        }
        span {
          display: none;
          padding: 5px 0 5px 5px;
        }
        span.thumbnail-title {
          padding-top: 5px;
          font-size: 12px;
        }
        span.view-count {
          font-size: 10px;
        }
      }
    }
    li:hover {
      background-color: #000;
      a {
        color: #ccc;
        img {
          display: none;
        }
        span {
          display: block;
        }
        span.thumbnail-title {
          padding-top: 5px;
          height: 35px;
          color: #fff;
          overflow: hidden;
        }
      }
    }
    li.fetch-videos {
      width: 107px;
      font-size: 1em;
      height: 20px;
      a {
        line-height: 15px;
        padding-left: 10px;
      }
    }
    li.fetch-videos:hover {
      background-color: none;
      a {
        color: #ccc;
        text-decoration: none;
      }
    }
  }
}
