.top-items {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: black;
  padding: 10px;
  height: 315px;
  width: 130px;
  position: relative;
  ul {
    margin: 0;
    padding: 5px 0 0 0;
    list-style: none;
    display: inline;
    li {
      clear: both;
      white-space: normal;
      vertical-align: top;
      height: 80px;
      width: 107px;
      margin: 5px;
      list-style: none;
      display: inline-block;
      a {
        color: black;
        text-decoration: none;
        img {
          float: left;
        }
        span {
          display: none;
          padding: 5px 0 5px 5px;
        }
        span.thumbnail-title {
          padding-top: 5px;
          font-size: 12px;
        }
        span.view-count {
          font-size: 10px;
        }
      }
    }
    li:hover {
      background-color: #000;
      a {
        color: #ccc;
        img {
          display: none;
        }
        span {
          display: block;
        }
        span.thumbnail-title {
          padding-top: 5px;
          height: 35px;
          color: #fff;
          overflow: hidden;
        }
      }
    }
    li.fetch-videos {
      width: 220px;
      font-size: 1em;
      height: 20px;
      a {
        line-height: 15px;
        padding-left: 70px;
      }
    }
    li.fetch-videos:hover {
      background-color: #ccc;
      a {
        color: black;
        text-decoration: none;
      }
    }
  }
}
