.top-items {
  width: 30%;
  float: left;
  ul {
    margin: 0;
    outline: 1px solid red;
    list-style: none;
    padding: 1em;
  }
}

.display {
  background-color: #ccc;
  width: 70%;
  float: left;
}

.selected-item {
  width: 450px;
  margin: auto;
  iframe {
    display: none;
  }
}

nav {
  outline: 1px solid blue;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline;
    }
  }
}
