.logo {
	position: absolute;
	top: 280px;
	left: -180px;

	font-family: Helvetica;
  h1 {
    font-size: 8em;
    margin: 0;
    color: #fffd8b;
  }
}

.rotate {
  -webkit-transform: rotate(-90deg);
   -moz-transform: rotate(-90deg);
   -ms-transform: rotate(-90deg);
   -o-transform: rotate(-90deg);
   transform: rotate(-90deg);
}
