@import url(http://fonts.googleapis.com/css?family=Tangerine:700);

.logo {
	position: absolute;
	top: 0;
	left: 0;
	width: 20%;
	font-family: Tangerine;
	// height: 80%;
	background-color: red;
	float: left;
}