@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville);
$ocean-blue: #a5bfdd;

.map {
	position: relative;
  width: 50%;
  min-width: 570px;
  height: 50%;
  left: 200px;
  padding: 10px 0;
}
