@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville);
$ocean-blue: #a5bfdd;

.map {
  width: 100%;
  background-color: $ocean-blue;
  padding-top: 5px;
}

.map-wrapper {
  // position: relative;
  width: 50%;
  margin: auto;
  height: 310px;
}
