@import url(http://fonts.googleapis.com/css?family=Satisfy);
$gray: #505050;

.map {
  width: 100%;
  background-color: $gray;
}

#logo {
  position: absolute;
  bottom: 0.5em;
  left: 0;
  margin: 0;
  font-family: "Satisfy";
  color: white;
}

.header {
  position: relative;
  width: 50%;
  margin: auto;
}
