$ocean-blue: #a5bfdd;
$base-page-width: 1024px;
$aside-box-width: 260px;

body {
  background-color: $ocean-blue;
}

#logo {
  float: left;
}

#page {
  width: $base-page-width;
  margin: 0 auto;
}

section {
  float: left;
  margin: 0 auto;
  padding: 0 1em;
}

aside {
  float: left;
  width: $aside-box-width;
  padding: 10px;
}

footer {
  clear: both;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 20x;
  height: 40px;
}
