$ocean-blue: #a5bfdd;
$base-page-width: 1024px;

html {
  height: -moz-calc(100% - 30px);
  height: -webkit-calc(100% - 30px);
  height: calc(100% - 30px);
}

body {
  height: 100%;
  background-color: $ocean-blue;
}

#logo {
  display: none;
}

#title {
  float: left;
  padding: 40px 10px;
  height: 50%;
}

#page {
  min-width: $base-page-width;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

section {
  float: left;
  height: 100%;
  width: -moz-calc(100% - 175px);
  width: -webkit-calc(100% - 175px);
  width: calc(100% - 175px);
  margin: 0 auto;
  padding: 0 0 0 15px;
}

footer {
  clear: both;
  width: 100%;
  background-color: rgba(20,20,20,0.9);
  color: white;
  font-size: 15px;
  height: 30px;
  position: relative;
  .signature {
    display: inline-block;
    padding: 8px 5px;
    letter-spacing: 2px;
    a:link, a:visited {
      text-decoration: none;
      color: white;
      border-bottom:1px dotted;
    }
    a:hover{
      color: red;
    }
  }
  .social-buttons{
    float: right;
    padding-top: 8px;
  }
}
