.search-info {
  width: 260px;
  position: absolute;
  padding: 15px;
  right: 0;
  top: 0;
  font-size: 1em;
}

.prev {
	text-decoration: none;
	font-size: 0.5em;
	color: black;
	padding: 5px;
	background-color: blue;
	border-radius: 5px;
}

#share-button {
	margin: 5px;
	padding: 3px;
	border-radius: 10px;
}

#social-buttons {
  padding: 1em 0;
}