.styled-select select {
   background: transparent;
   width: 220px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 30px;
   -webkit-appearance: none;
   -moz-appearance: none;
   cursor: hand;
   cursor: pointer;

}

.styled-select {
  width: 130px;
  height: 30px;
  overflow: hidden;
  background: url(/assets/down_arrow.png) no-repeat right;
  position: relative;
  top: -10px;
  background-color: rgb(20,20,20);
  background-color: rgba(20,20,20,0.3);
  margin: 4px 3px 0 3px;
}

select {
  color: white;
  text-shadow: 0 0 0 #000;
}

select.sort { 
}

select.category {
 
}

select.time {
}

form input:focus {
  outline: none;
  box-shadow: none;
}

.context-sentence li {
  list-style: none;
  position: relative;
  float: left;
}

.context-sentence {
  margin-top: 6px;
  background: rgb(20,20,20);
  background: rgba(20,20,20,0.5);
  position: absolute;
  z-index: 1;
  font-size: 16px;
  color: white;
  width: 895px;
  border-radius: 15px;
}

.flag {
  margin-top: -15px;
}













