$iframe-width: 550px;
$video-player-width: 700px;
$disabled-country-color: #f6f5f2;

.video-container {
	//background-color: $disabled-country-color;
  border: 1px solid black;
  //border-radius: 1em;
  width: $video-player-width;
  position: relative;
  padding-top: 60px;
}

.selected-item {
  width: $iframe-width;
  float: left;
  iframe {
    display: none;
  }
}

.media-center {
  position: relative;
  width: 750px;
  background-color: rgba(20,20,20,0.8);
}
