$iframe-width: 550px;
$video-player-width: 750px;
$disabled-country-color: #f6f5f2;

.video-container {
  width: $video-player-width;
  position: relative;
  padding-top: 60px;
}

.selected-item {
  width: $iframe-width;
  float: left;
  iframe {
    display: none;
  }
}

.media-center {
  position: relative;
  width: $video-player-width;
  background-color: rgba(20,20,20,0.9);
}
