$iframe-width: 550px;

.focus {
  position: relative;
  width: 50%;
  mind-width: 570px;
  height: 355px;
  height: 49%;
  left: 200px;
}

.video-container {
	background-color: #eee;
  border-radius: 1em;
  width: 570px;
  height: 355px;
  margin: 0 auto;
  padding: 0;
}

.selected-item {
  padding: 10px 0;
  width: $iframe-width;
  margin: auto;
  iframe {
    display: none;
  }
}